<h1>Hello Ming!</h1>

<div class="btn btn-link"><%= link_to 'add new article', new_article_path %></div>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br>
      <%= article.body %>
    </li>
  <% end %>
</ul>